header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}